/* === Custom Font === */

@font-face {
    font-family: gotham_narrow_book;
    src: local(gotham_narrow_book), url('fonts/gothamnarrow_book.otf') format('opentype');
}

@font-face{
	font-family: gotham_narrow_bold;
	src: local(GothamNarrow-Bold), url('fonts/GothamNarrow-Bold.otf') format('opentype');
}

@font-face{
	font-family: gotham_cond_bold;
	src: local(GothamCond-Bold), url('fonts/GothamCond-Bold.otf') format('opentype');
}

.azienda {
	padding:0;
}
.azienda-gray {
	background:#47545c;
	color:#fff;
	font-family: gotham_narrow_book;
}
.azienda-gray-h2 {
	background:#47545c;
	color:#fff;
	font-size: 40px;
	font-family: gotham_cond_bold;
	margin-bottom: 20px;
}

.azienda button {
	background:#0090d2;
	box-shadow: 0 10px 30px 1px rgba(28, 38, 104, 0.3);
	border-radius:30px;
	font-family: gotham_narrow_bold;
	letter-spacing: 0.5px;
	margin-top: 10px;	
}
.azienda button:hover {
	background:#fff;
	border-radius:30px;
	box-shadow: 0 10px 30px 1px rgba(28, 38, 104);
	box-shadow: 0 10px 30px 1px rgba(28, 38, 104, 0.3);
	color: #0090d2;
	font-family: gotham_narrow_bold;
	letter-spacing: 0.5px;
	margin-top: 10px;
}
.dot {
  background-color: #0090d2;
  border-radius: 50%;
  display: inline-block;
  height: 4px;
  vertical-align: middle;
  width: 4px;
}
.text {
	margin:75px;
	text-align:left;
}
.light-blue {
	background:#0090d2;
}
.light-blue-color {
	color:#0090d2;
}
.count-this {
	font-family: gotham_cond_bold;
	font-size: 80px;
	padding-bottom:0;
}
.counting-container {
	margin:40px 40px 40px 26%;
}

.counting-box {
	margin-top:50px;
}
.text-counter {
	font-family: gotham_narrow_book;
	font-size:20px;
	margin:0 0 20px -20px;
	padding-left:0;
	height:80px;
}
.number-counter{
	height:80px;
	margin:-28px 10px 20px -40px;
}
.zero {
	color:rgb(215, 224, 239);
	color:rgba(66, 134, 244,0.3);
	font-family: gotham_cond_bold;
	font-size: 80px;
}
@media only screen and (max-width: 767px) {
	.counter-text-container{
		display:none;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {

	.counting-box {
		margin-top:10px;
	}
	.counting-container {
		margin:0 20px 20px 25%;
	}
	.count-this {
		font-size:70px;
	}
	.image-counter {
		
		margin:-5px 15px 0 30px;
	}
	.number-counter {
		margin:-20px 15px 0 10px;
	}
	.text-counter {
		margin:-5px 0 5px 0;
	}
	.zero {
		font-size:70px
	}
	
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {

	.counting-container {
		margin:30px 30px 30px 20%;
	}
	.number-counter {
		margin:-26px 15px 15px -15px;
	}
	.text-counter {
		margin:-3px 0 20px 15px;
	}
}