/* FONTS */

@font-face {
    font-family: gotham_narrow_book;
    src: local(gotham_narrow_book), url('fonts/gothamnarrow_book.otf') format('opentype');
}

/* FONTS END */

/* COMMON */

body {
	background: #e9eaeb;
}

.noselect * {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-padding {
    padding: 0;
}

.container {
    width: 1500px;
    max-width: 100%;
}

nav {
	margin: auto;
	max-width: 1500px;
}

.navbar-inverse {
	background: #fff;
	border-color: #fff;
	margin-bottom: 0;
}

.navbar-header {
    width: 100%;
}

.container-fluid .navbar-header {
    margin: auto;
}

.navbar-brand {
	padding: 40px;
}

.navbar-inverse .navbar-nav li a {
	color: #0090d2;
}

.navbar-inverse .navbar-nav li a:focus,
.navbar-inverse .navbar-nav li a:hover {
	color: #fff;
	background: #0090d2;
}

.navbar-toggle {
    padding: 10px 7px;
    margin: 20px 0 20px 20px;
    border-radius: 100%;
}

.navbar-toggle .icon-bar {
    width: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1500px;
    width: 100%;
    z-index: 10;
}

.sticky .navbar-brand img {
    max-width: 150px;
}

.sticky .form-search input {
    width: 34px;
    cursor: pointer;
    color: transparent;
}

.sticky .form-search input:focus {
    color: #0090d2;
}

.sticky .form-search .btn {
    pointer-events: none;
    right: -3px;
    bottom: 0;
}

.sticky .search-active .btn {
    pointer-events: initial;
}

.sticky .form-search input::-webkit-input-placeholder {
   color:transparent;
}

.sticky .form-search input:-moz-placeholder { /* Firefox 18- */
   color:transparent; 
}

.sticky .form-search input::-moz-placeholder {  /* Firefox 19+ */
   color:transparent; 
}

.sticky .form-search input:-ms-input-placeholder {  
   color:transparent;
}

.has-sub:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f107";
	margin-left: 5px;
}

.user-nav {
	padding: 40px 20px 0 0;
    margin: auto;
}

.user-nav li a {
	padding: 0;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #0090d2;
	border-radius: 100%;
}

.user-nav li {
	margin-left: 20px;
    display: inline-block;
}

.user-profile {
	background: #0090d2;
}

.user-profile i {
	color: #fff;	
}

.main.nav {
	margin: 20px 0 0 0;
    text-align: center;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
	border: none;
	background: #0090d2;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #0090d2;
}

.form-search {
    position: relative;
    display: inline-block;
}

.form-search .btn {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	color: #0090d2;
}

.form-search input {
    border-radius: 20px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    width: 130px;
    border: 1px solid #0090d2;
    color: #0090d2;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-search input:focus {
	width: 180px;
}

.search-icon {
    margin: 3px -1px 0 0;
}

.profile-icon {
    margin: 9px;
}

::placeholder {
	color: #0090d2;
	font-weight: bold;
}

.form-search input:focus::-webkit-input-placeholder {
   color:transparent;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.form-search input:focus:-moz-placeholder { 
   color:transparent; 
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.form-search input:focus::-moz-placeholder { 
   color:transparent; 
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.form-search input:focus:-ms-input-placeholder {  
   color:transparent;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

/* COMMON END */

/* HOME */

.carousel-caption {
	right: auto;
    left: 0;
    bottom: 0;
    width: 40%;
    text-align: left;
    padding: 20px 40px 40px 40px;

	background: #273895;
	background: -moz-linear-gradient(45deg, #273895 1%, #1462b2 18%, #0090d2 50%);
	background: -webkit-linear-gradient(45deg, #273895 1%,#1462b2 18%,#0090d2 50%);
	background: linear-gradient(45deg, #273895 1%,#1462b2 18%,#0090d2 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273895', endColorstr='#0090d2',GradientType=1 );
}

.carousel-caption p {
	margin-bottom: 40px;
}

.carousel-indicators {
    width: 40%;
    height: 36px;
    line-height: 36px;
    left: 0;
    margin-left: 0;
    padding-right: 40px;
    text-align: right;
}

.carousel-indicators .active,
.carousel-indicators li {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: transparent;
}

.carousel-indicators li {
	border: none;
}

.carousel-indicators .active {
    border: 1px solid rgba(255, 255, 255, 0.40);
    margin-bottom: 2px;
}

.carousel-btn {
    border-radius: 20px;
    padding: 8px 15px;
    color: #fff;
    background: #0090d2;
    text-shadow: none;
    font-weight: bold;
}

.small-dot {
	width: 5px;
    height: 5px;
    margin: auto;
    margin-top: 12px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
}

/* HOME END*/

/* MOBILE */

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 24px 0;
        margin-bottom: 20px;
    }

    .navbar-brand img {
        max-width: 120px;
    }

    .user-nav {
        padding: 20px 0 0 0;
        text-align: right;
    }

    .user-profile-menu,
    .lang-selector-menu {
        display: none !important;
    }

    .carousel-caption {
        position: relative;
        width: 100%;
        padding: 20px 20px 25px 20px;
    }

    .carousel-indicators {
        width: auto;
        left: auto;
        right: 0;
        padding-right: 20px;
    }

    .form-search {
        margin-bottom: 20px;
    }

    .form-search input {
        width: 34px;
        cursor: pointer;
        color: transparent;
    }

    .form-search input:focus {
        width: 100%;
        padding: 0 20px;
        color: #0090d2;
    }

    .form-search .btn {
        pointer-events: none;
        right: -3px;
        bottom: 0;
    }

    .search-active .btn {
        pointer-events: initial;
    }

    .carousel-indicators .active,
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin-left: 10px;
    }

    .carousel-indicators .active {
        border: 1px solid rgba(255, 255, 255, 1);
    }

    .carousel-indicators .active .small-dot {
        display: none;
    }

    .small-dot {
        margin-top: 2px;
    }

    .form-search input::-webkit-input-placeholder {
       color:transparent;
    }

    .form-search input:-moz-placeholder { /* Firefox 18- */
       color:transparent; 
    }

    .form-search input::-moz-placeholder {  /* Firefox 19+ */
       color:transparent; 
    }

    .form-search input:-ms-input-placeholder {  
       color:transparent;
    }
}



/* MOBILE END */